
.download-button{
    margin: 40px 10px;
}

.button-space{
    display: flex;
    justify-content: center;
}







.download{
    padding: 15px 40px;
    margin: 10px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
}

.mac{
    background-color:hsl(171, 66%, 44%);
    color: #FFF;
    box-shadow: rgba(55, 228, 133, 0.3) 0px 15px 12px, inset 0 -2px 0px 0px rgba(15, 128, 65, 0.3);
}


.ios{

    background-color: hsl(233, 100%, 69%);
    color: #FFF;
    box-shadow: rgba(81, 55, 228, 0.3) 0px 15px 12px, inset 0 -2px 0px 0px rgba(52, 33, 160, 0.3);
}