@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}


/*topo*/
.image-background{
    margin: 0;
    width: 100%;
    height: 300px;
    background: url(../images/bg-header-desktop.png);
    
}

.image-logo{
    display: flex;
    justify-content: center;
}

.logo-company-top{
    margin-top: 150px;
}