@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}


/*topo*/
.image-background{
    margin: 0;
    width: 100%;
    height: 300px;
    background: url(../images/bg-header-desktop.png);
    
}

.image-logo{
    display: flex;
    justify-content: center;
}

.logo-company-top{
    margin-top: 150px;
}
/*fim topo*/



.hero-text{
    width: 700px;
}



/*texto*/
.text-body{
    font-size: 16px;
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: rgb(182, 182, 182);
    padding: 20px 0;
}

.text-subtitle{
    font-size: 28px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.text-title{
    font-size: 36px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}
/*fim texto*/





.section-txt{
    margin: 20px 0 80px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-text-icon{
    align-content: center;
    width: 300px;
    margin: 20px;
}

.div-text{
    width: 700px;
}



.txt-img{
    margin: 60px;
    width: 400px;
}

.section-img-txt{
    display: flex;
    padding-bottom: 100px;
}
.img-computer{
    width: 600px;
}

.computer{
    margin-right: 40px;
}

.text-subtitle-comp{
    font-size: 24px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.text-body-comp{
    font-size: 14px;
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: rgb(182, 182, 182);
    padding-bottom: 60px;
}






.section-img-devices{
    display: flex;
    justify-content: center;
}

.img-devices{
    width: 700px;
}





.img-icon-logo{
    height: 40px;
    padding-bottom: 20px;
}



.logo-business{
    width: 150px;
    padding: 40px;
}


.end-redes{
    height: 100px;
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
}

.logo-end{
    width: 50px;
    height: 50px;
}


.end-box{
    display: flex;
    margin: 25px;
}

.end-links{
    list-style: none;
    padding: 0 40px;
}

.end-box-social{
    display: flex;
    margin: 25px 25px 25px 150px;
}

.img-social-midia{
    padding: 0 10px;
    width: 20px;
    height: 20px;
}

.internal-links{
    text-decoration: none;
    color: #000;
}

.internal-links:hover{
    color: hsl(171, 66%, 44%);
}

/*botão*/
.download-button{
    margin-top: 20px;
}

.download{
    border-style: outset;
    margin: 10px;
    border-radius: 20px;
    width: 210px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
}

.mac{
    background-color: hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);
} 

.ios{
    background-color: hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
    
}






