*{
    margin: 0;
    padding: 0;
}



.image-background{
    margin: 0;
    width: 100%;
    height: 300px;
    background: url(../images/bg-header-desktop.png);
    
}

.image-logo{
    display: flex;
    justify-content: center;
}

.logo-company-top{
    margin-top: 100px;
}

.hero-text{
    width: 500px;
}

.hero{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
/*botão*/
.download-button{
    margin-top: 20px;
}

.download{
    border-style: outset;
    margin: 10px;
    border-radius: 20px;
    width: 210px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "Bai Jamjuree";
    font-weight: 600;
}

.mac{
    background-color: hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);
} 

.ios{
    background-color: hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
}

/*segunda sessão */
.text-config-body{
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: rgb(182, 182, 182);
    padding: 20px;
}

.text-config-title{
    font-family: "Bai Jamjuree";
    font-weight: 600;
}

.first-section{
    margin: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-text{
    width: 500px
}
